/* Les variables -> $nomVariable : valeur 
   
couleurs (#)
nombres
chaînes de caractère
booléens

*/

$base : burlywood;
$accent : black;

/*@mixin bloc($width, $height) {
	
	width: $width; height: $height; background-color: $accent; margin: 2em;
}

body {background-color: $base; color: $accent; font-family: sans-serif;}

.bloc1 {@include bloc(200px, 200px); background-color: lightcoral;}

.bloc2 {@include bloc(50px, 50px);}

.bloc3 {@include bloc(100px, 150px);}

*/

body {background-color: $base;}

a {
	color: saddlebrown; font-size: 2em;
	&:hover {background-color: firebrick; color: $accent;}
}

